{%extends "allauth/layouts/base.html" %}
{%load crispy_forms_tags%}
{%block content%}

<style>
    label{
        color:black;
    }
    p{
        margin-bottom:0 ;
    }
</style>
    <div class="d-flex justify-content-center  pt-5 mb-0">
        <div style="width: 350px;" class="d-flex mb-3 gap-4">
            <div class="d-flex align-items-center">
                <a style="cursor: pointer;" class="border rounded-circle btn-sm-square"  href="{%url 'home'%}">
                    <i class="small text-dark bi bi-house-door-fill"></i>
                </a>
                </div>
            <div class="w-100 d-flex ">
                <p style="font-family:Verdana, Geneva, Tahoma, sans-serif;" class="mb-0 fs-2 text-secondary">Final step</p>
            </div>
        </div>
    </div>
    <div class="pt-2">
        <div class="container">
            <div class="w-100 d-flex justify-content-center align-items-center">
                <form x-data="{
                    prieview:'/media/{{request.user.img}}',
                    handleImage:function handleImage(event){
                        const file = event.target.files[0]
                        const reader = new FileReader()
                        reader.onload = e => {
                            this.prieview = e.target.result
                        }
                        reader.readAsDataURL(file)
                    }
                }" style="width: 350px;" class="form-group" action="" method="post" enctype='multipart/form-data'> 
                    <div class="d-flex justify-content-center ">
                        <div class="position-relative">
                            <label style="cursor: pointer;transform: translate(-50%,-50%);" class="position-absolute top-100 start-100" for="img">
                                <i class="border rounded-3 btn-square bi bi-pencil"></i>
                            </label>
                            <div style="width: 90px;height: 90px;" class="overflow-hidden rounded-circle">
                                <img :src="prieview" class="img-fluid" alt="">
                            </div>
                        </div>
                    </div>
                    <input @change="handleImage($event)" id="img" name="img" type="file" class="d-none" >
                    {%csrf_token%}
                    <div class="mt-4 pt-2 d-flex gap-2">
                        <div style="flex: 1;">
                            {{form.phone | as_crispy_field}}
                        </div>
                        <div style="width: 100px;">
                            {{form.age|as_crispy_field}}
                        </div>
                    </div>                   
                    <div class="mt-3">
                        {{form.location | as_crispy_field}}
                    </div>
                    <div class="my-3 mt-4  d-flex justify-content-end">
                        <button class="btn btn-primary">finish setup</button>
                    </div>
                </form>
            </div>
        </div>
        </div>
 
        
{%endblock%}