{% extends "allauth/layouts/base.html" %}
{% load i18n %}
{% load allauth account %}
{% block head_title %}
    {% trans "Reset Password" %}
{% endblock head_title %}

{% block content %}
<div class="d-flex justify-content-center pt-5 mb-3">
    <p style="font-family:Verdana, Geneva, Tahoma, sans-serif;" class="border-bottom mb-2 display-6 text-tritiary">Log In</p>
</div>
    <div class="pt-2">
        <div class="container">
            <div  class="w-100 d-flex justify-content-center align-items-center">
                <form style="width: 300px;" method="post" action="{%url 'accounts_reset' %}">
                    {% csrf_token %}
                    <div data-mdb-input-init class="form-outline mb-3 ">
                        {%if errors%}
                        <p class="text-danger mb-0 small fw-bold ps-2">Account doesn't exist</p>
                        {%endif%}
                        <div class="position-relative">
                        <input type="tel" placeholder="09*********" name="login" required class="form-control {%if errors%} border-danger {%endif%}" />
                        {%if errors%}
                        <div class="position-absolute end-0 bottom-0 translate-middle">
                          <i class="text-danger bi bi-exclamation-circle "></i>
                        </div>
                        {%endif%}
                      </div>
                      <label class="form-label {%if form.errors%} text-danger {%endif%}" for="form2Example1">Phone</label>
                    </div>
                    <div class="d-flex">
                      <button data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4">Reset Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <style>
      label{
        color: rgb(43, 43, 43);
      }
    </style>
{% endblock content %}
{% block extra_body %}
{% endblock %}
